:root{
    // Font
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Kanit', sans-serif;
    // Color
    --color-title: rgba(213, 0, 50, 1);
    --cl-main-text: #202020;
    --cl-white: #ffffff;
    --cl-form: #939393;
    --cl-politic: #676767;
    // BG-Color
    --bg-color-btn: #D50032;
    --bg-color-grey: #F7F7F7;
    // Shadow
    --cl-card: rgba(0, 0, 0, 0.1);
}