:root{
    // Font
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Kanit', sans-serif;
    // Color
    --color-title: rgba(213, 0, 50, 1);
    --cl-main-text: #202020;
    --cl-white: #ffffff;
    // BG-Color
    --bg-color-btn: #D50032;
}